* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}

.boddy {
    background-color: #727272;
    width: 100%;
}

.contain {
    background-color: white;
    width: 40%;
    height: 65vh;
    margin: auto;
    margin-top: 10%;
}

.Logo-div {
    height: 150px;
}

.Logo {
    max-width: 60%;
    margin: 20% 8%;
}

.texts {
    text-align: center;
    font-size: 28px;
    margin-top: 20%;
}

/* RESPONSIVENESS */

@media screen and (max-width:1440px) {
    .texts {
        font-size: 36px;
        margin-top: 25%;
    }
}

@media screen and (max-width:764px) and (min-width:558px) {
    .texts {
        font-size: 24px;
    }
}

@media screen and (max-width:557px) {
    .contain {
        height: 55vh;
        width: 70%;
    }

    .texts {
        font-size: 20px;
    }

    .Logo-div {
        height: 120px;
    }
}